#projects {
    width: 100vw;
    /* max-width: 100rem; */
    padding: 30px 40px;
    align-items: center;
}

.projects-text {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 5rem;
}

#projects .url_bringer {
    color: rgb(0, 255, 208);
    text-decoration: none;
    cursor: pointer;
}

.project-container {
    /* */
    margin: 20px auto;
    height: 100px;
    padding: 20px;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
}

.project-container .project-item {
    border: 1px solid #444;
    border-radius: 20px;
    height: 300px;
    margin: 10px;
    padding: 15px;
    display: grid;
    max-height: 500px;
    transition: all 0.3s ease-in-out;
}

.project-container .project-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #333;
}       

.project-container .project-item .btn {
    margin: 20px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.project-container .project-item .project-img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin: -45px 0 15px 10px;
    box-shadow: 0 0 10px #00ffcc;
}

.project-container .project-item .btn:hover {
    background-color: #444;
    border: 1px solid #333;
}

.project-container .see-more {
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
}

.see-more .btn2{
    font-size: large;
    margin: 20px;
    padding: 10px 300px;
    border-radius: 10px;
    border: 2px solid #FFF;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.see-more .btn2:hover {
    background-color: #FFF;
    border: 2px solid #FFF;
    color: #000;
}

