.card-item {
    border: 1px solid #444;
    border-radius: 20px;
    height: 300px;
    margin: 10px;
    padding: 15px;
    display: block;
    max-height: 500px;
    transition: all 0.3s ease-in-out;
    overflow: auto;
}